@import "./normalize.scss";
@import "./variables.scss";

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 706px;
  margin: auto;
  padding-top: 80px;
}

@for $a from 28 through 31 {
  .calendar-#{$a} {
    @for $i from 1 through $a {
      div:nth-child(#{$i}) {
        background-color: #eee;
        border: 1px solid black;
        height: 100px;
        width: 100px;
        display: flex;
        transition-duration: 0.5s;
        &::after {
          content: "#{$i}";
          margin: auto;
        }
        &:hover {
          background-color: #f6bfca;
          transform: translate(0, -20px);
          cursor: pointer;
        }
      }
    }
  }
}

@each $day-week, $index in $days {
  .calendar-#{$day-week} div:first-child {
    margin-left: $margin * $index;
  }
}
